@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}

/* Header */
.logo-link{
  background-color: #000;
  color: #FFF;
  text-decoration: none;
}

.container-body{
  min-height: calc(100vh - 60px - 60px)
}
/* Star icon */
.star-icon{
  color: yellow;
}